body {
    font-size: 18px;
    padding: 0;
    margin: 0;
}
a {
    color: #084190;
}
#nav-container {
    background-color: #e9f2fb;
    border: solid 0 #084190;
    border-top-width: 4px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}
#nav {
    width: 70%;
    margin: auto;
    padding: 15px;
    margin-bottom: 5px;
    box-sizing: border-box;
    color: #282828;
}
#title {
    font-weight: bold;
    text-decoration: none;
}
#tagline, #tagline .site{
    display: inline-block;
    font-size: 12px; 
    text-decoration: none;
    color: #282828;
}
#tagline .site {
    border: solid 0;
    border-left-width: 15px;
    padding-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}
#tagline .site:last-child :content-after {
    content: "";
}
#footer {
    margin: 20px auto 10px;
    width: 70%;
    font-size: 16px;
    text-align: center;
    color: #565656;
    border: solid #282828;
    border-width: 1px 0 0 0;
    padding-top: 8px;
    line-height: 16px;
}
#river {
    margin: 75px auto 10px;
    width: 70%;
}
.item {
    display: block;
    margin-bottom: 10px;
    border: 0 solid;
    border-left-width: 5px;
    padding-left: 10px;
}
.item:last-child {
    margin-bottom: 0;
}
.item a {
    margin-bottom: 3px;
    font-size: 0.9em;
    display: inline-block;
}
.item .details {
    font-size: 0.7em;
}
.item .details a {
	font-size: 100%;
	text-decoration: none;
}
.item .details a:hover {
	text-decoration: underline;
}
.item .date {
    color: #888;
}
.site.fade, .item.fade {
    opacity: 0.3;
}
